@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}

:root {
    --primary-color: #029e9d;
    --secondary-color: #e69138;
    --background-color: #F3F4F6;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 50%;
    color: var(--primary-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px !important;
}

.swiper-button-next {
    padding-left: 2px;
}

.swiper-button-prev {
    padding-right: 2px;
}


.cardBox {
    background: white;
    transition: 0.3s;
}

.cardBox .cardNumber {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 999px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.cardBox h3 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    transition: 0.3s;
}

.cardBox p {
    font-size: 13px;
    color: #444;
    transition: 0.3s;
}

/* ACTIVE CARD STYLE */
.cardBox.active {
    background: var(--primary-color) !important;
    color: white !important;
}

.cardBox.active h3,
.cardBox.active p {
    color: white !important;
}

.cardBox.active .cardNumber {
    background: white !important;
    color: var(--primary-color) !important;
    font-weight: bold;
}

/* MOBILE OPTIMIZATION */
@media (max-width: 640px) {
    #heroSection {
        height: 65vh;
    }

    #heroTitle {
        font-size: 24px;
    }

    #heroSubtitle {
        font-size: 14px;
    }

    .cardBox {
        padding: 10px 4px;
    }

    .cardNumber {
        display: none !important;
    }

    .cardBox h3 {
        font-size: 12px;
    }

    .cardBox p {
        font-size: 10px;
    }
}