@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}

:root {
    --primary-color: #029e9d;
    --secondary-color: #e69138;
    --background-color: #F3F4F6;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 50%;
    color: var(--primary-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px !important;
}

.swiper-button-next {
    padding-left: 2px;
}

.swiper-button-prev {
    padding-right: 2px;
}